:root {
  --main-color: #d5d5d5;
  --secondry-color: #3a3b3c;
  --third-color: #a9acb1;
  --fourth-color: #212121;
}
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #000;
  line-height: 1.5;
}
.head {
  position: fixed;
  z-index: 15;
  background-color: #000;
  width: 100%;
  height: 99px;
  top: 1;
  top: 0;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 20px;
}
header img {
  width: 60px;
  border-radius: 50%;
  margin-right: 20px;
}
header .ur-profile {
  display: flex;
  align-items: center;
}
header .ur-profile h2 {
  color: var(--main-color);
  font-size: 1.7em;
  font-weight: 600;
  letter-spacing: 2px;
  max-width: 100%;
}
header .icons i {
  font-size: 1.3em;
  color: var(--main-color);
  background-color: #212121;
  padding: 10px;
  border-radius: 50%;
  margin-left: 5px;
}
header .icons i:first-of-type {
  margin-right: 20px;
}
/* End header */
.search {
  margin-bottom: 20px;
  margin-top: 135px;
}
.search input[type="text"] {
  width: 93%;
  background-color: #212121;
  padding: 10px;
  border-radius: 30px;
  border: none;
  outline: none;
  color: var(--main-color);
  position: relative;
  padding-left: 35px;
  margin-left: 22px;
}
.search i {
  position: absolute;
  left: 31px;
  z-index: 1;
  top: 145px;
  color: #888;
}
::placeholder {
  color: #888888;
  font-size: 19px;
}
/* -----story */
.story {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: -5px;
  padding-left: 16px;
  overflow: auto;
}
.story::-webkit-scrollbar {
  display: none;
}

.story .video-call i {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 1.6em;
  color: #d5d5d5;
  background-color: var(--fourth-color);
  padding: 10px;
  margin: 10px;
}
.story .video-call {
  text-align: center;
}
.story .video-call h3 {
  color: #d5d5d5;
}
.user-items {
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}
.user-items h3 {
  color: #d5d5d5;
}
.story .user-items .image img {
  border-radius: 50%;
  width: 50px;
  margin-top: -18px;
  transition: 0.5s ease;
}
.story .user-items .image img:hover {
  transform: scale(1.1);
}
.story .user-items .image {
  position: relative;
}
.story .user-items .image::after {
  content: "";
  width: 10px;
  height: 10px;
  font-weight: bold;
  background-color: #088525;
  position: absolute;
  bottom: 14px;
  right: 13px;
  border-radius: 50%;
  border: solid 2px #000;
}
/* ----chat section */
.chat-section {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.profil-message {
  display: flex;
  align-items: center;
  margin-left: 18px;
  margin-bottom: 24px;
}
.profil-message img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: solid 2px var(--third-color);
}
.profil-message .text {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.profil-message .text h3 {
  color: var(--third-color);
}
.profil-message .text span {
  color: var(--third-color);
}
.time-message {
  color: white;
  margin-left: auto;
}
footer {
  background-color: #000;
  width: 100%;
  height: 60px;
  position: fixed;
  padding-top: 14px;
  z-index: 5;
  bottom: 0px;
}
footer .foot {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
footer .foot i {
  font-size: 1.3em;
  color: #0084ff;
}
